Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 150
SpaceAfterCStyleCast: false
DerivePointerAlignment: false
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: Empty
AlignTrailingComments: true
# BreakBeforeBraces: Allman